img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    border-radius: 10px;
    width: 300px;
}

.Copyright_Footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: teal;
    line-height: 3;
    text-align: center;
}