img {
    width: 300px;
    height: 300px;
}

.Copyright_Footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: teal;
    line-height: 3;
    text-align: center;
}